In [1]:


import pandas as pd
import numpy as np

In [3]:
# Import studnets_df, clubs, courses f15, s16

studnets_df = pd.read_csv('data/students.csv')
clubs_df = pd.read_csv('data/clubs.csv')
courses_df = pd.read_csv('data/courses.csv')
f15_df = pd.read_csv('data/f15.csv')
s16_df = pd.read_csv('data/s16.csv')

# Display each df.

print(studnets_df)
print(clubs_df)
print(courses_df)
print(f15_df)
print(s16_df)

          id      name
0    7798814     Keith
1    2149193    Denise
2    5062031    Edward
3    7361386   Jeffery
4    5484525   Spencer
..       ...       ...
489  6799063    Marcus
490  6283185   Phillip
491  1017481  Danielle
492  6345509     Robin
493  6982180     Pedro

[494 rows x 2 columns]
     student_id                 club
0       7798814              CS Club
1       2149193              CS Club
2       5062031  Cryptocurrency Club
3       7361386        Robotics Club
4       5484525    Entrepreneur Club
..          ...                  ...
307     5239597  Cryptocurrency Club
308     6799063              CS Club
309     6799063    Entrepreneur Club
310     6283185        Robotics Club
311     6982180  Cryptocurrency Club

[312 rows x 2 columns]
      id                            name
0   1001  Computing &Quantitative Reason
1   1002   The Outer Limits of Reasoning
2   1003              Exploring Robotics
3   1050  Intro to Computer Applications
4   1115       Intro to JAVA Programming
5   1170            Java for Programmers
6   1215  Intro to Programming in Python
7   1400             Elementary Robotics
8   1530             Electronic Commerce
9   1580        Computer Mangement Games
10  1590  Management Information Systems
11  1597          New Media and Business
12  1600              Intro Multi Comput
13  2210              Discrete Structure
14  2531           Operations Management
15  2590   Foundation Business Analytics
16  2600    Introduction Music Computing
17  2820            Computers and Ethics
18  3115    Intro Modern Prog Techniques
19  3130                 Data Structures
20  3140  Design&Implemntatn Web Applctn
21  3142    Programming Paradigms in C++
22  3160           Programming Languages
23  3171   Intro to Software Engineering
24  3220          Analysis of Algorithms
25  3225       Data Tools and Algorithms
26  3230    Theoretical Computer Science
27  3310           Computer Architecture
28  3320               Operating Systems
29  3350         Workstation Programming
30  3410         Artificial Intelligence
31  3610    Intro Multimedia Programming
32  3620               Computer Graphics
33  3650      Human-Computer Interaction
34  3667     Game Design and Development
35  3810                Database Systems
36  4331            System & Ntwrk Admin
37  4900  Independent & Group Projects 1
38  4905  Independent & Group Projects 2
      student_id  course grade  points_earned  max_points
0        7798814    1600     a              4           4
1        7798814    1002     a              4           4
2        2149193    1400     a              4           4
3        2149193    1003     b              3           4
4        2149193    1580     a              4           4
...          ...     ...   ...            ...         ...
1229     6345509    1115     a              4           4
1230     6345509    1590     c              2           4
1231     6982180    1400     a              4           4
1232     6982180    1115     a              4           4
1233     6982180    1590     a              4           4

[1234 rows x 5 columns]
      student_id  course grade  points_earned  max_points
0        7798814    2210     a              4           4
1        7798814    1215     b              3           4
2        2149193    1600     a              4           4
3        2149193    1170     b              3           4
4        2149193    1597     a              4           4
...          ...     ...   ...            ...         ...
1001     1017481    1590     b              3           4
1002     6345509    1001     b              3           4
1003     6345509    1597     a              4           4
1004     6982180    2210     w              0           0
1005     6982180    1597     w              0           0

[1006 rows x 5 columns]

1. Use merging to produce a DataFrame showing which students belong to which clubs.

2. In Question 1, did you perform a one-to-one, many-to-one, or many-to-many merge? Why?

3. Are there any students who are not in any clubs? If so, how many? Show their names and student ID.

4. Use merging to produce a DataFrame showing the names of courses that students enrolled in.

5. In Question 4, did you perform a one-to-one, many-to-one, or many-to-many merge? Why?

6. Ignoring withdrawals, for the whole F15/S16 academic year, what is the name of the course that is
probably the hardest? Which is probably the easiest?

7. Did any students not enroll in any course during the whole F15/S16 academic year? Who?

8. What is the name of the student who scored the the most cumulative points in the whole F15/S16
academic year?


9. Over the whole F15/S16 academic year, what career was most common among students taking 1215?



10.  List the names of students who went into manufacturing